<section class="metadata-table">
  <h2 class="section-heading">Extra</h2>
  <p class="section-text">
    Lorem ipsum dolor sit amet consectetur. Tempus a id adipiscing fames egestas
    tellus dis pretium tempus...
  </p>

  <div class="metadata-list">
    <div class="metadata-row">
      <span class="key">Lorem Ipsum Dolor</span>
      <span class="value">10/19/2017</span>
    </div>
    <div class="metadata-row">
      <span class="key">Lorem Ipsum Dolor</span>
      <span class="value">Ut</span>
    </div>
    <div class="metadata-row">
      <span class="key">Lorem Ipsum Dolor</span>
      <span class="value">Eros</span>
    </div>
    <div class="metadata-row">
      <span class="key">Lorem Ipsum Dolor</span>
      <span class="value success">✔ Yes</span>
    </div>
    <div class="metadata-row">
      <span class="key">Lorem Ipsum Dolor</span>
      <span class="value">Sit</span>
    </div>
    <div class="metadata-row">
      <span class="key">Lorem Ipsum Dolor</span>
      <span class="value">Lorem Ipsum Dolor</span>
    </div>
    <div class="metadata-row">
      <span class="key">Lorem Ipsum Dolor</span>
      <span class="value">Lorem Ipsum Dolor</span>
    </div>
  </div>
</section>
